
<div class="container">
	<div class="text-center">
		<h1 id="header">About Cameron Marshall</h1>
	</div>
	<div class="row" id="about">
		<div class="col-4">
			<img id="cam"src="/assets/2.jpg" alt="cam" />
		</div>
		<div class="col-8 text-wrap">
			<p>I am a software developer with a background in health and wellnes, but a passion for developing and createing new ideas. I started developing software in 2015 as a personal hobby, but soon after my hobby turned into a passion and i decided that it was the direction that i was suppose to take.</p>
			<br>
			<div class="text-center">
				<h2>SKILLS</h2>
			</div>
			<br>
			<h4>Certificates</h4>
			<ul>
				<li><i class="fa fa-certificate" aria-hidden="true"></i> JavaScript</li>
				<li><i class="fa fa-certificate" aria-hidden="true"></i> Python</li>
				<li><i class="fa fa-certificate" aria-hidden="true"></i> Ruby</li>
			</ul>
		</div>
	</div>
</div>