<div class="text-center">
	<h1><b>Contact</b></h1>
</div>
<div class="container">
	<h3 id="contact">Feel free to contact me about any questions or inquiry of projects or positions.</h3>

	<div class="contact-group">
		<div class="card bg-dark text-white mb-3">
			<div class="text-center">
				<h2 class="card-title"><i class="fa fa-phone" aria-hidden="true"> (940)808-8285</i></h2>
				<p class="card-text">Give me a call (* between 9AM-5PM CST)</p>
			</div>
		</div>
	</div>
	<div class="contact-group">
		<div class="card bg-dark text-white mb-3">
			<div class="text-center">
				<a rel='nofollow' rel='noreferrer btn-floating btn-small' href='mailto:cam.marshall940@yahoo.com'>
	                <h2 class="card-title"><i class='fa fa-envelope' aria-hidden="true"> Email</i></h2>
					<p class="card-text">Send me a email.</p>
				</a>
			</div>
		</div>
	</div>
	<div class="contact-group">
		<div class="card bg-dark text-white mb-3">
			<div class="text-center">
				<a rel='nofollow' rel='noreferrer btn-floating btn-small' href='https://www.linkedin.com/in/cameron-marshall/' target='_blank'>
					<h2 class="card-title"><i class='fa fa-linkedin' aria-hidden="true"> Linkedin</i></h2>
					<p class="card-text">Reach out and connect with me on linkedin.</p>
				</a>
			</div>
		</div>
	</div>
</div>