<div class="text-center">
    <h1 class="site-heading text-center"><b><span>C</span>AMERON MARSHALL</b></h1>
</div>
<div class="container" id="top">
    <div class="row">
        <div class="col-4">
            <div class="media">
                <img src="/assets/2.jpg" id="picture">
            </div>
        </div>
        <div class="col-md-8">
            <h2 class="text-center" id="top-text">Software Developer, developing new and cutting edge technology that is designed to shape the path of the future for software.</h2>
        </div>
    </div>
</div>
<div id="skills">
    <div class="container">
        <div class="row">
            <h2 id="skills-header"><b>SKILLS</b></h2>
        </div>
        <div class="row" id="skills-tools">
            <div class="flex-column">
                <div class="col-md-12">
                    <div class="skill-projectManagement">
                        <h3></i><i class="fa fa-cogs fa-1x" aria-hidden="true"></i><b> Project Management</b></h3>
                        <ul>
                            <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Command Line</li>
                            <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Git</li>
                            <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Github + Gitlab</li>
                            <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i> MAMP</li>
                            <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Postico</li>
                            <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Postman</li>
                            <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Vagrant</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="flex-column">
                <div class="col-md-12">
                    <div class="skill-database">
                        <h3><i class="fa fa-database fa-1x" aria-hidden="true"></i> <b>Database</b></h3>
                        <ul>
                            <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>    mongoDB</li>
                            <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>    MySQL</li>
                            <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>    SQLite</li>
                            <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>    PostgreSQL</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="skills-development">
            <div class="col-12">
                <div class="skills-development">
                    <div class="text-center">
                        <h3><i class="fa fa-code fa-1x" aria-hidden="true"></i><b> Languages/Frameworks</b></h3>
                    </div>
                </div>
                <div class="row">
                    <ul id="skill-list">
                        <li class="dev-item">MEAN</li>
                        <li class="dev-item">JavaScript</li> 
                        <li class="dev-item">Node.js</li>  
                        <li class="dev-item">Python</li>    
                        <li class="dev-item">Django</li>    
                        <li class="dev-item">Angular2+</li>
                        <li class="dev-item">Ruby</li>
                        <li class="dev-item">Rails 5</li>
                        <li class="dev-item">HTML5</li> 
                        <li class="dev-item">CSS3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div id="language">
    <div class="row">
        <div class="col-3"></div>
        <% @categories.each do |category| %>
            <div class="col-sm-3">
                <div class="list-group">
                    <button type="button" class="btn btn-outline-black32 list-group-item"><a href="/categories/<%= category.id %>"><%= category.name %></a></button>
                </div>
            </div>
        <% end %>
    </div>
    <div class="col-1"></div>
</div> --> 

<div class="container">
    <div class="row">
        <h2 id="project-header"><b>RECENT PROJECTS</b></h2>
    </div> 
    <div class="row">
        <% @posts.each do |post| %>
            <div class="col-4">
                <div class="card-columns">
                    <div class="card">
                        <%= link_to post_path(post) do %>
                            <%= image_tag post.image, class: 'card-img-top' %>
                            <div class="card-img-overlay">
                                <h3><b>View Project </b><i class="fa fa-angle-double-right" aria-hidden="true"></i></h3>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

