@import "bootstrap";
@import "posts";
@import "static_pages";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin:0rem;
  padding:0rem;
}

body{
	font-family: 'Quicksand', sans-serif;
  background:#fff;
}

h1 {
  color:#000;
}

a {
  color:#fff;
}


/********** HEADER  ***********/


.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: #fff;
  font-size: 1.5rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.5rem;
  margin: 0px 50px 0px 0px;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: lightgrey;
}

ul {
    margin: auto;
}

#github{
  float: right;
  color: white;
  margin: 0.5em 1em 0em 0em;
}

.navbar { 
  min-height: 38px;
  height: 30px;
  margin: 0px !important; 
  border-radius:0; 
  position: absolute;
  width: 100%;
  top:0; 
  z-index:1;
  background: #000;
  padding-top: 0px;
}


/********** FOOTER  ***********/

footer {
  position: relative;
  bottom: 0;
  width:100%;
	margin-top: 5rem;
	height: auto;
	background-color: #434c56;
	color: #fff;
	text-align: center;
	padding-top: 10px;

  img {
    width: 500px;
    margin-top: -30%;
  }

  a{
    font-size: 1rem;
  }
  a:hover {
    color: lightgrey;
  }

  .page-footer {
    margin-top: 20px; 
    background-color: #fff;
    color: #fff; 

    .footer-copyright {
      overflow: hidden;
      height: 50px;
      line-height: 50px;
      color:#fff;
      background-color: rgba(0, 0, 0, 0.2);
      text-align: center; 
    }
  }
}


