<!-- Page Footer -->
<footer>
    <div class='footer-container'> 
        <div class='row prefooter'> 
            <!--First column--> 
            <div class='col-4'> 
                <U><h5 class='title text-uppercase'>COMPANY</h5></U>
                <ul class='list-inline'> 
                    <li><a rel='nofollow' rel='noreferrer' href='https://github.com/cmarsh940'>About Cameron</a></li> 
                </ul> 
            </div>  
            <!--Second column--> 
            <div class='col-4'> 
                
            </div> 
            <!--Third column-->  
            <div class='col-4'> 
                <u><h5 class='title'>SOCIAL</h5></u> 
                <ul class="list-inline">
                    <li class='list-inline-item'> 
                        <a rel='nofollow' rel='noreferrer btn-floating btn-small' href='mailto:cam.marshall940@yahoo.com'> 
                            <i class='fa fa-envelope'></i> 
                        </a> 
                    </li>  
                             
                    <li class='list-inline-item'> 
                        <a rel='nofollow' rel='noreferrer btn-floating btn-small' href='https://www.linkedin.com/in/cameron-marshall/' target='_blank'>
                            <i class='fa fa-linkedin'></i>
                        </a>
                    </li> 
                </ul> 
            </div>
        </div>
        <!-- Copyright -->
        <div>
            Cameron Marshall website, <a class='tab-space' rel='nofollow' rel='noreferrer' href='https://github.com/cmarsh940'>&copy Copyright 2017 Cameron Marshall. All Rights Reserved.</a>
        </div>
    </div>
</footer>
<!-- end-footer -->